.grupo{
    border-style:hover;
    padding:60px;
    margin: 10em auto;
    width: 35%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #f7f7f7;
    border-radius: 10px;
}
h1{
    font-size: 2em;
    text-align: center;
}
img{
    width: 100%;
    height: 70%;
}
p{
    text-align: center;
}
button{
    border:none;
    margin-top: 7%;
    font-family: sans-serif;
    font-size: 1em;
    border-radius: 5px;
    font-size: 1.2em;
    background: #a5a4a7;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(57, 173, 53, 0.5);
    position:relative;
}
.conteiner{
    text-align: left;
}
.botao:hover{
    background: #181515;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
.botao{
    cursor: pointer;
}
fieldset{
    border: none;
}
textarea{
    width: 100%;
    height:50px;
}
.nome{
    width: 100%;
}
.campo input[type="text"],.campo textarea {
    padding: 0.2em;
    border: 1px solid #242425;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    width: 100%;
}